*{
  box-sizing: border-box;
  /*
  Demonstração box-sizing: 
  https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing
  */
}

body{
  font-family: 'Roboto', sans-serif; 
  height: 180vh;
}

.container{
  background-color: #121212;
  width: 700px;
  color: #FFFFFF;
  margin: auto;
  padding: 50px;
  border: 5px solid red;
  border-radius: 10px;
  position: static;
}

/*
  > 1. Por padrao temos o Static ou seja estatico.

  > 2. Relative elemento é posicionado em relaçao a sua posiçao normal.
  (top, bottom, left, right).

  > 3. Absolute: é posicionado em relaçao ao seu elemento pai mais próximo que possui relative
  se não tiver relative é posicionado em relaçao ao body.
  
  > 4. Fixed é posicionado em relação ao viewport (é a area no browser onde aparece seu site)
  sempre fica na mesma poxição mesmo se a página tem scroll

  > 5. Sticky é posicionado em relação a posição do scroll.
*/

header{
  background-color: cyan;
  width: 100%;

  position: sticky;
  top:0;
}